@import "tailwindcss";

:root {
  --background: #1e293b;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  color: var(--foreground);
  /* background: url('/imagens/logo_sem_fundo.png') no-repeat center center fixed, #1e293b; */
  background: #1e293b;
  background-size: 40%;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}