/* @import "tailwindcss";

:root {
  --background: #051429; 
  --foreground: #ffffff; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #051429;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

@import "tailwindcss";

:root {
  /* Cores padrão caso a imagem não carregue */
  --background: #0a0a0a;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  color: var(--foreground);
  /* AQUI ESTÁ A MÁGICA DO FUNDO */
  /* Ele tenta carregar a imagem na pasta public. Se não achar, usa a cor preta #0a0a0a */
  background: url('/RECEPÇÃO.png') no-repeat center center fixed, #0a0a0a;
  background-size: cover; /* Faz a imagem cobrir a tela toda */
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}